<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>domain</key>
		<string>corecontent-c4sapqe.qe.bp-paas.otxlab.net</string>
		<key>authenticationUrl</key>
		<string>https://otdsauth-c4sapqe.qe.bp-paas.otxlab.net/oauth2/auth</string>
		<key>tokenUrl</key>
		<string>https://otdsauth-c4sapqe.qe.bp-paas.otxlab.net/oauth2/token</string>
		<key>nameLocalizedKey</key>
		<string>environment_qe</string>
		<key>sharedAuthenticationUrl</key>
		<string>https://otdsauth-c4sapqe.qe.bp-paas.otxlab.net/otdstenant</string>
		<key>cmsDomain</key>
		<string>cms-c4sapqe.qe.bp-paas.otxlab.net</string>
		<key>cssDomain</key>
		<string>contentservice-c4sapqe.qe.bp-paas.otxlab.net</string>
		<key>googleDomain</key>
		<string>dlp.googleapis.com</string>
		<key>gcpApiKey</key>
		<string>******</string>
	</dict>
	<dict>
		<key>domain</key>
		<string>na-1-dev.api.opentext.com</string>
		<key>authenticationUrl</key>
		<string>https://na-1-dev.api.opentext.com/tenants/110f8020-9556-4bb6-8d36-23104705a228/oauth2/auth</string>
		<key>tokenUrl</key>
		<string>https://na-1-dev.api.opentext.com/tenants/110f8020-9556-4bb6-8d36-23104705a228/oauth2/token</string>
		<key>nameLocalizedKey</key>
		<string>NA-DEV</string>
	</dict>
</array>
</plist>
